* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --lightGrayBlue: hsl(210, 46%, 95%);
    --darkBlue: hsl(212, 23%, 69%);
    --veryDarkBlue: hsl(217, 19%, 35%);
    --desaturatedDarkBlue: hsl(212, 23%, 69%);
}

p {
    font-size: 16px;
}

body {
    min-height: 100vh;
    background-color: var(--lightGrayBlue);
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

/* ___________________________ */

.card {
    background-color: white;
    display: flex;
    width: clamp(10em, 80vw, 70em);
    border-radius: 15px;
}

.card .drawers {
    width: 100%;
    max-width: 29em;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 42.8em;
    padding: 20px;
    position: relative;
    margin: auto 0;
}

.container h1 {
    color: var(--veryDarkBlue);
}

.container p {
    color: var(--darkBlue);
    font-size: 1rem;
    margin: 2rem auto;
}

/* profile  */

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile .michelle {
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 50%;

}

.flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.column p:first-of-type {
    font-weight: bold;
    color: var(--veryDarkBlue);
}

.column p {
    margin: 0;
    padding: 0.3rem 0;
}

.hide {
    display: none;
}


.profile .share {
    width: 35px;
    height: 35px;
    margin-right: 25px;
    background-color: var(--lightGrayBlue);
    padding: 5px;
    border-radius: 50%;
    object-fit: none;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    transition-duration: 0.6s;
}

.profile .share:hover {
    transform: scale(1.1);
}

.profile .share:active {
    transform: scale(0.85);
}

/* menu */

.profile {
    position: relative;
}

.share-popup {
    display: flex;
    position: absolute;
    right: 0;
    /* bottom: calc(100% + 15px); */
    transform: translateY(-150px);
    background-color: var(--veryDarkBlue);
    border-radius: 10px;
    transition: 0.3s;
    visibility: hidden;
}

@keyframes popUp {
    from {
        transform: translateY(10px);
        opacity: 0.3;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



.share-popup p {
    font-size: 16px;
    color: var(--lightGrayBlue);
    padding: 0 15px;
}

.share-popup img {
    margin: 0 10px;
    cursor: pointer;
    width: 25px;
    padding: 0;
}

.share-popup.active {
    opacity: 1;
    display: flex !important;
    align-items: center;
    visibility: visible;
}

.share-mobile {
    display: none;
    background-color: var(--desaturatedDarkBlue);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    visibility: hidden;
}


@media (min-width: 320px) and (max-width: 786px) {
    .card {
        flex-direction: column;
        width: 100%;
        max-width: 25em;
    }

    .card .drawers {
        border-radius: 0;
        width: 100%;
        display: block;
    }

    .share-popup {
        position: static;
        transform: none;
        width: 100%;
        border-radius: 0 0 15px 15px;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        gap: 15px;
        visibility: visible;
    }

    .share-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
    }





}